#devs{
  text-decoration: underline;
}
#devsnames{
  background-color: bisque;
  cursor: pointer;
  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 15px;
  }
  &:hover{
    text-decoration: underline;
  }
  span{
    margin-left: 10px;
    font: 0.7em sans-serif;
    &:hover {
      font: 0.9em sans-serif;
    }
  }
}
.act{
  color: red;
}
