<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <p id="devs">Fejlesztők:</p>
    </div>
<div class="row devsnames mb-2" (click)=openDev(dev) *ngFor="let dev of developers" [ngClass]="{'act': dev.id==8}">
  <div class="col-md-2 "><img  src="../assets/cat.png" alt=""></div>
  <div class="col-md-7 nevKozepre" >{{dev.name}}</div>
  <div class="col-md-2 skills"><span  *ngFor="let pos of dev.position">{{pos}} <br>   </span> </div>
</div>
<div class="loader" *ngIf="loader"></div>
{{data$.body }}
    </div>
    <div class="col-md-12 text-center">
       <k *ngFor="let card of cards" [cardData]="card"></k>
    </div>
</div>
